@model Emulair.BusinessLogic.Implementation.News.Models.NewsModel
@inject Emulair.Common.DTOs.CurrentUserDto CurrentUser

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~/css/News/Detalis.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <style>
        body {
            font-family: 'Plus Jakarta Sans', sans-serif;
            margin: 20px;
            background-color: #201A19;
            color: #EDE0DE;
        }

        h1[data-title] {
            padding: 7rem 0 2rem 0;
        }

        a[data-create] {
            text-decoration: none;
            color: #EDE0DE;
            padding: 1rem;
            transition: 200ms color, 200ms background-color;
        }

        a[data-create]:hover {
            color: #201A19;
            background-color: #EDE0DE;
        }

        .news-image-container {
            margin-top: 5rem;
        }

        .news-image {
            width: 70vw;
        }

        h3.news-title, .news-summary {
            text-decoration: underline rgba(0, 0, 0, 0) !important;
            color: #EDE0DE;
            padding: 1rem;
            transition: 200ms color, 200ms background-color;
            margin: 0;
        }

        h3.news-title:hover, .news-summary:hover {
            color: #201A19;
            background-color: #EDE0DE;
        }

        .news-details-container {
            padding-bottom: 6rem;
        }

        body {
            min-height: 100vh;
        }
        /* nav css */
        nav {
            background-color: #A08C8A;
        }

            nav > ul {
                background-color: #A08C8A;
                z-index: 3;
                width: 70vw;
                position: fixed;
                left: 16%;
                display: flex;
                list-style: none;
                color: #EDE0DE;
                font-weight: 500;
                padding: 0;
            }

                nav > ul > li {
                    transition: 200ms color, 200ms background-color;
                    cursor: pointer;
                }

                    nav > ul > li:hover {
                        color: black;
                        background-color: #EDE0DE;
                    }

                        nav > ul > li:hover > a {
                            color: black;
                            background-color: #EDE0DE;
                        }

                    nav > ul > li > a:hover {
                        color: black;
                        background-color: #EDE0DE;
                    }

                    nav > ul > li > a {
                        display: inline-block;
                        text-decoration: none;
                        color: #D9D9D9;
                        font-weight: 500;
                        padding: 0.7rem 0.5rem;
                    }
    </style>
</head>
<h1>Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
    <h4>Comments</h4>
    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        @foreach (var comment in Model.Comments)
        {
            <p>@comment.Message</p>
            <small>Posted on @comment.PostDate.ToString("yyyy-MM-dd")</small>
        }
    }
    else
    {
        <p>No comments yet.</p>
    }

</div>
<h4>Add Comment</h4>

    <div class="form-group">
        <label asp-for="NewComment.Message" class="control-label"></label>
        <textarea asp-for="NewComment.Message" class="form-control" id="comment" data-id="@Model.NewsId" rows="4"></textarea>
        <span asp-validation-for="NewComment.Message" id="errorMessage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary">Add Comment</button>
    </div>

<div>
    @if(CurrentUser.Role == "Admin" || CurrentUser.Role == "Writer")
    {
        <a asp-action="Edit" asp-route-id="@Model.NewsId" class="edit-news-button">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.NewsId" class="delete-news-button">Delete</a>
    }
    <a asp-action="Index" class="back-button">Back to List</a>
</div>


        <script src="~/js/News/AddComment.js"></script>
</html>